.section1 {
    text-align: center;
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 10px;
}
#login, #password {
    font-size: 25px;
}
#login-data, #password-data {
    font-size: 25px;
}
.submit-input {
    background: orange;
    width: 90px;
    height: 40px;
}
.pizzaOption{
    display: none;
}
.rad-inp, .form-check-label, .pizza  {
    font-size: 25px;
}